body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #faebf3;
}

#password-container, #question-container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}


#yes-button {
    background-color: #4CAF50;
    font-size: 30px;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#no-button {
    background-color: #f44336;
    font-size: 30px;
    padding: 5px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Fade-out effect */
.fade-out {
    animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Shake effect */
.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-20px);
    }
    75% {
        transform: translateX(20px);
    }
}

/* Incorrect password effect */
.incorrect {
    animation: incorrect 0.5s;
}

@keyframes incorrect {
    0%, 100% {
        background-color: #f44336;
    }
    50% {
        background-color: white;
    }
}
